<section class="seccion_wrapper" id="about">
  <div class="image_container">
    <img src="assets/images/directivas-de-angular-programacion.jpg" alt="ilustracion" />
  </div>
  <div class="section_content">
    <h1>Ramiro Sánchez Aranda</h1>
    <p>
      💬Hola soy Ramiro, tengo 26 años y estoy estudiando actualmente Ingeniería en Sonido en la Universidad de Tres de Febrero y haciendo un curso en CoderHouse de Testing QA Manual.
      📚Soy un apasionado a la producción musical y autodidacta en el soporte técnico de PCs, con conocimientos en Python y desarrollo Front-end. Concurro constantemente a aprendizajes en estos entornos, a través de youtube y diferentes cursos. 
      🗂️Priorizo la organización y la resolución de problemas lo más eficaz y rápido posible, en conjunto con una comunicación empática y asertiva.
      🌐Lo que me lleva a buscar a una empresa donde pueda desarrollarme y crecer entre estos ámbitos que me gustan ya sea startup o una empresa multinacional.</p>
      <p>
      💬Hi, I'm Ramiro, I'm 26 years old and I'm currently studying Sound Engineering at the University of Tres de Febrero and doing a Manual Testing QA course at CoderHouse. 
      📚I am passionate about music production and self-taught in PC technical support, with knowledge of Python and Front-end development. I constantly attend apprenticeships in these environments, through YouTube and different courses.
       🗂️ Prioritize organization and problem solving as effectively and quickly as possible, in conjunction with empathetic and assertive communication. 
      🌐 Which leads me to look for a company where I can develop and grow among these surroundings that I like, whether it is a startup or a multinational company.
    </p>
  </div>
</section>
