<div class="menu_wrapper">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/ramiro-sa/"
        >LinkedIn</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/rfosa1455"
        >Github</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="src/assets/PDF/CV-RamiroSanchez.pdf"
        download
        >Resume/Curriculum</a
      >
    </li>
  </ul>
</div>
